<template>
  <div>
    <div class="md-layout">
      <div class="md-layout-item" size="100">
        <h1>Listagem de Pacientes</h1>
      </div>
    </div>
    <div class="md-layout" id="body">
      <md-dialog :md-active.sync="showDialog" class="md-scrollbar">
        <md-dialog-title>Formulário de Cadastro</md-dialog-title>

        <form novalidate class="md-layout" @submit.prevent="validatePaciente">
          <md-card
            class="md-scrollbar md-layout-item md-size-100 md-small-size-100"
          >
            <md-card-content class="md-scrollbar">
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Nome')">
                    <label for="Nome">Nome Completo</label>
                    <md-input
                      name="Nome"
                      id="Nome"
                      autocomplete="given-name"
                      v-model="form.Nome"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Nome.required">
                      Por favor, preencha o Nome Completo
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('CPF')">
                    <label for="CPF">CPF</label>
                    <md-input
                      type="tel"
                      name="CPF"
                      id="CPF"
                      v-mask="'###.###.###-##'"
                      autocomplete="cpf"
                      v-model="form.CPF"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.CPF.required">
                      Por favor, preencha o CPF
                    </span>
                    <span class="md-error" v-else-if="!$v.form.CPF.minlength">
                      CPF Inválido
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('RG')">
                    <label for="RG">RG</label>
                    <md-input
                      type="tel"
                      id="RG"
                      name="RG"
                      autocomplete="RG"
                      v-model="form.RG"
                      :disabled="sending"
                    />
                    <span class="md-error">Por favor, preencha o RG</span>
                  </md-field>
                </div>
              </div>

              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Email')">
                    <label for="Email">Email</label>
                    <md-input
                      type="email"
                      id="Email"
                      name="Email"
                      autocomplete="Email"
                      v-model="form.Email"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Email.required">
                      Por favor, preencha o Email
                    </span>
                    <span class="md-error" v-else-if="!$v.form.Email.email">
                      Por favor, digite um Email válido
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Sexo')">
                    <label for="Sexo">Sexo</label>
                    <md-select
                      name="Sexo"
                      id="Sexo"
                      v-model="form.Sexo"
                      md-dense
                      :disabled="sending"
                    >
                      <md-option></md-option>
                      <md-option value="M">M</md-option>
                      <md-option value="F">F</md-option>
                    </md-select>
                    <span class="md-error" v-if="!$v.form.Sexo.required">
                      Por favor, selecione um Sexo
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Telefone')">
                    <label for="Telefone">Telefone</label>
                    <md-input
                      name="Telefone"
                      id="Telefone"
                      v-model="form.Telefone"
                      v-mask="['(##)####-####', '(##)#####-####']"
                      md-dense
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Telefone.required">
                      Por favor, informe um Telefone
                    </span>
                  </md-field>
                </div>
              </div>

              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('CEP')">
                    <label for="CEP">CEP</label>
                    <md-input
                      name="CEP"
                      id="CEP"
                      autocomplete="CEP"
                      v-mask="'#####-###'"
                      v-model="form.CEP"
                      @keyup="searchCep()"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.CEP.required">
                      Por favor, preencha o CEP
                    </span>
                    <span class="md-error" v-else-if="!$v.form.CEP.minlength">
                      Por favor, preencha um CEP válido
                    </span>
                    <span class="md-error" v-else-if="!$v.form.CEP.maxlength">
                      Por favor, preencha um CEP válido
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Estado')">
                    <label for="Estado">Estado</label>
                    <md-input
                      name="Estado"
                      id="Estado"
                      v-model="form.Estado"
                      md-dense
                      :disabled="sending"
                    />

                    <span class="md-error" v-if="!$v.form.Estado.required">
                      Por favor, selecione um Estado
                    </span>
                    <span
                      class="md-error"
                      v-else-if="!$v.form.Estado.minlength"
                    >
                      Por favor, selecione um Estado válido
                    </span>
                    <span
                      class="md-error"
                      v-else-if="!$v.form.Estado.maxlength"
                    >
                      Por favor, selecione um Estado válido
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Cidade')">
                    <label for="Cidade">Cidade</label>
                    <md-input
                      name="Cidade"
                      id="Cidade"
                      autocomplete="Cidade"
                      v-model="form.Cidade"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Cidade.required">
                      Por favor, preencha a Cidade
                    </span>
                  </md-field>
                </div>
              </div>

              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Bairro')">
                    <label for="Bairro">Bairro</label>
                    <md-input
                      name="Bairro"
                      id="Bairro"
                      v-model="form.Bairro"
                      md-dense
                      :disabled="sending"
                    />

                    <span class="md-error" v-if="!$v.form.Bairro.required">
                      Por favor, informe um Bairro
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Logradouro')">
                    <label for="Logradouro">Logradouro</label>
                    <md-input
                      name="Logradouro"
                      id="Logradouro"
                      autocomplete="Logradouro"
                      v-model="form.Logradouro"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Logradouro.required">
                      Por favor, preencha o Logradouro
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Numero')">
                    <label for="Numero">Numero</label>
                    <md-input
                      name="Numero"
                      id="Numero"
                      autocomplete="Numero"
                      v-model="form.Numero"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Numero.required">
                      Por favor, preencha o Numero
                    </span>
                  </md-field>
                </div>
              </div>
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('Complemento')">
                  <label for="Complemento">Complemento</label>
                  <md-input
                    name="Complemento"
                    id="Complemento"
                    autocomplete="Complemento"
                    v-model="form.Complemento"
                    :disabled="sending"
                  />
                </md-field>
              </div>
            </md-card-content>

            <md-progress-bar md-mode="indeterminate" v-if="sending" />

            <md-card-actions>
              <md-button class="md-raised md-accent" type="submit"
                >Cadastrar</md-button
              >
              <md-button class="md-raised md-primary" v-on:click="cancelButton"
                >Cancelar</md-button
              >
            </md-card-actions>
          </md-card>
        </form>
      </md-dialog>

      <md-table
        v-model="Pacientes"
        md-sort="nome"
        md-sort-order="asc"
        md-card
        md-fixed-header
      >
        <md-table-toolbar>
          <md-field md-clearable class="md-toolbar-section-end">
            <md-input
              placeholder="Procura por Nome..."
              v-model="search"
              @input="searchOnTable"
            />
          </md-field>
        </md-table-toolbar>

        <md-table-empty-state
          md-label="Nenhum Paciente encontrado"
          :md-description="`Nenhum paciente encontrado com o nome '${search}'. Por favor, procure com um nome diferente ou cadastre um Paciente novo.`"
        >
          <md-button class="md-primary md-raised" @click="showForm">
            Cadastrar Paciente
          </md-button>
        </md-table-empty-state>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Id" md-sort-by="Id" md-numeric>{{
            item.Id
          }}</md-table-cell>
          <md-table-cell md-label="Nome" md-sort-by="Nome">{{
            item.Nome
          }}</md-table-cell>
          <md-table-cell md-label="CPF" md-sort-by="CPF">{{
            item.CPF
          }}</md-table-cell>
          <md-table-cell md-label="RG" md-sort-by="RG">{{
            item.RG
          }}</md-table-cell>
          <md-table-cell md-label="Email" md-sort-by="Email">{{
            item.Email
          }}</md-table-cell>
          <md-table-cell md-label="Sexo" md-sort-by="Sexo">{{
            item.Sexo
          }}</md-table-cell>
          <md-table-cell md-label="Telefone" md-sort-by="Telefone">{{
            item.Telefone
          }}</md-table-cell>
        </md-table-row>
      </md-table>

      <md-button class="md-fab md-mini md-plain" v-on:click="showForm">
        <md-icon>add</md-icon>
      </md-button>

      <md-snackbar
        :md-position="'left'"
        :md-duration="4000"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ SnackbarMessage }}</span>
      </md-snackbar>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required, email, minLength, maxLength } from "vuelidate/lib/validators"

const toLower = (text) => {
  return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
  if (term) {
    return items.filter((item) => toLower(item.Nome).includes(toLower(term)))
  }

  return items
}

export default {
  name: "Pacientes",
  mixins: [validationMixin],

  data: () => ({
    search: null,
    Pacientes: [],
    showDialog: false,
    sending: false,
    showSnackbar: false,
    SnackbarMessage: null,
    form: {
      Nome: null,
      CPF: null,
      RG: null,
      Email: null,
      Sexo: null,
      Telefone: null,
      CEP: null,
      Estado: null,
      Cidade: null,
      Bairro: null,
      Logradouro: null,
      Numero: null,
      Complemento: null,
    },
  }),
  validations: {
    form: {
      Nome: {
        required,
      },
      CPF: {
        required,
        minLength: minLength(14),
      },
      RG: {
        required,
      },
      Email: {
        required,
        email,
      },
      Sexo: {
        required,
      },
      Telefone: {
        required,
        minLength: minLength(13),
        maxLength: maxLength(14),
      },
      CEP: {
        required,
        minLength: minLength(9),
        maxLength: maxLength(9),
      },
      Estado: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(2),
      },
      Cidade: {
        required,
      },
      Bairro: {
        required,
      },
      Logradouro: {
        required,
      },
      Numero: {
        required,
      },
      Complemento: {},
    },
  },
  methods: {
    showForm() {
      this.showDialog = true
    },
    cancelButton() {
      this.showDialog = false
      this.clearForm()
    },
    searchOnTable() {
      this.Pacientes = searchByName(this.Pacientes, this.search)
    },
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty,
        }
      }
    },
    clearForm() {
      this.$v.$reset()
      this.form.Nome = null
      this.form.CPF = null
      this.form.RG = null
      this.form.Email = null
      this.form.Sexo = null
      this.form.Telefone = null
      this.form.CEP = null
      this.form.Estado = null
      this.form.Cidade = null
      this.form.Bairro = null
      this.form.Logradouro = null
      this.form.Numero = null
      this.form.Complemento = null
    },
    listPacientes() {
      this.$axios
        .get(this.$urlAPI + "Pacientes")
        .then((response) => (this.Pacientes = response.data))
    },
    savePaciente() {
      this.sending = true
      const self = this

      this.$axios
        .post(this.$urlAPI + "Pacientes", this.form)
        .then((response) => {
          if (response.status == 201) {
            self.SnackbarMessage = "Paciente criado com Sucesso"
          } else {
            self.SnackbarMessage = "Paciente já cadastrado anteriormente"
          }

          this.showSnackbar = true
          this.sending = false
          this.showDialog = false
        })

      this.clearForm()
      this.listPacientes()
    },
    validatePaciente() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.savePaciente()
      }
    },
    searchCep() {
      if (this.form.CEP.length == 9) {
        this.$axios
          .get(`https://viacep.com.br/ws/${this.form.CEP}/json/`)
          .then((response) => {
            this.form.Estado = response.data.uf
            this.form.Cidade = response.data.localidade
            this.form.Logradouro = response.data.logradouro
            this.form.Bairro = response.data.bairro
          })
      }
    },
  },
  mounted() {
    this.listPacientes()
  },
}
</script>

<style scoped>
#body {
  justify-content: center;
}

.md-dialog /deep/.md-dialog-container {
  width: 80%;
  height: 110%;
  overflow-y: scroll;
}
</style>
