<template>
  <div>
    <div class="md-layout">
      <div class="md-layout-item" size="100">
        <h1>Listagem de Registros</h1>
      </div>
    </div>
    <div class="md-layout" id="body">
      <md-dialog :md-active.sync="showDialog" class="md-scrollbar">
        <md-dialog-title>Formulário de Cadastro</md-dialog-title>

        <form novalidate class="md-layout" @submit.prevent="validateRegistro">
          <md-card
            class="md-scrollbar md-layout-item md-size-100 md-small-size-100"
          >
            <md-card-content class="md-scrollbar">
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Paciente')">
                    <label for="Paciente">Paciente</label>

                    <model-list-select
                      name="Paciente"
                      id="Paciente"
                      :list="Pacientes"
                      :custom-text="nameOptions"
                      option-value="Id"
                      v-model="form.PacienteId"
                      placeholder="Escolha um Paciente"
                      @input="findPacienteInfos"
                    >
                    </model-list-select>
                    <span class="md-error" v-if="!$v.form.PacienteId.required">
                      Por favor, preencha o Fabricante
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Vacina')">
                    <label for="Vacina">Vacina</label>
                    <model-list-select
                      name="Vacina"
                      id="Vacina"
                      :list="Vacinas"
                      option-value="Id"
                      option-text="Fabricante"
                      v-model="form.VacinaId"
                      placeholder="Escolha uma Vacina"
                      :isDisabled="VacinaDisabled"
                    >
                    </model-list-select>
                    <span class="md-error" v-if="!$v.form.VacinaId.required">
                      Por favor, Selecione uma Vacina
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('DataVacinacao')">
                    <label for="DataVacinacao">Data de Vacinação</label>
                    <md-input
                      type="tel"
                      id="DataVacinacao"
                      name="DataVacinacao"
                      v-mask="'##/##/####'"
                      v-model="form.DataVacinacao"
                      :disabled="sending"
                    />
                    <span
                      class="md-error"
                      v-if="!$v.form.DataVacinacao.required"
                    >
                      Por favor, preencha a Data de Vacinação</span
                    >
                  </md-field>
                </div>
              </div>
            </md-card-content>

            <md-progress-bar md-mode="indeterminate" v-if="sending" />

            <md-card-actions>
              <md-button class="md-raised md-accent" type="submit">
                Cadastrar
              </md-button>
              <md-button class="md-raised md-primary" v-on:click="cancelButton">
                Cancelar
              </md-button>
            </md-card-actions>
          </md-card>
        </form>
      </md-dialog>

      <md-table
        v-model="Registros"
        md-sort="Id"
        md-sort-order="asc"
        md-card
        md-fixed-header
      >
        <md-table-toolbar>
          <md-field md-clearable class="md-toolbar-section-end">
            <md-input
              placeholder="Procura por Laboratório ou Paciente..."
              v-model="search"
              @input="searchOnTable"
            />
          </md-field>
        </md-table-toolbar>

        <md-table-empty-state
          md-label="Nenhum Registro de Vacinação encontrado"
          :md-description="`Nenhum Registro de Vacinação encontrado com o termo '${search}'. Por favor, procure com um termo diferente ou cadastre um Registro novo.`"
        >
          <md-button class="md-primary md-raised" @click="showForm">
            Cadastrar Registro
          </md-button>
        </md-table-empty-state>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Id" md-sort-by="Id" md-numeric>{{
            item.Id
          }}</md-table-cell>
          <md-table-cell md-label="Paciente" md-sort-by="Paciente">{{
            item.Paciente
          }}</md-table-cell>
          <md-table-cell md-label="Vacina" md-sort-by="Vacina">{{
            item.Vacina
          }}</md-table-cell>
          <md-table-cell
            md-label="Data de Vacinacao"
            md-sort-by="DataVacinacao"
            >{{ item.DataVacinacao | showDate }}</md-table-cell
          >
        </md-table-row>
      </md-table>

      <md-button class="md-fab md-mini md-plain" v-on:click="showForm">
        <md-icon>add</md-icon>
      </md-button>

      <md-snackbar
        :md-position="'left'"
        :md-duration="SnackbarDuration"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ SnackbarMessage }}</span>
      </md-snackbar>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required } from "vuelidate/lib/validators"
import { ModelListSelect } from "vue-search-select"
import "vue-search-select/dist/VueSearchSelect.css"

const toLower = (text) => {
  return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
  if (term) {
    return items.filter((item) =>
      toLower(item.Fabricante).includes(toLower(term))
    )
  }

  return items
}

export default {
  name: "Registros",
  components: { ModelListSelect },
  mixins: [validationMixin],

  data: () => ({
    search: null,
    Registros: [],
    Pacientes: [],
    Vacinas: [],
    showDialog: false,
    sending: false,
    VacinaDisabled: false,
    showSnackbar: false,
    SnackbarMessage: null,
    SnackbarDuration: null,
    form: {
      PacienteId: null,
      VacinaId: null,
      DataVacinacao: null,
      QtdDose: null,
      Status: null,
      ProximaDose: null,
    },
  }),
  validations: {
    form: {
      PacienteId: {
        required,
      },
      VacinaId: {
        required,
      },
      DataVacinacao: {
        required,
      },
    },
  },
  methods: {
    showForm() {
      this.showDialog = true
      this.form.DataVacinacao = this.$options.filters.showDate(new Date())
    },
    cancelButton() {
      this.showDialog = false
      this.clearForm()
    },
    searchOnTable() {
      this.Registros = searchByName(this.Registros, this.search)
    },
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty,
        }
      }
    },
    clearForm() {
      this.$v.$reset()
      this.form.PacienteId = null
      this.form.VacinaId = null
      this.form.DataVacinacao = null
      this.VacinaDisabled = false
    },
    listRegistros() {
      this.$axios.get(this.$urlAPI + "Registros").then((response) => {
        this.Registros = response.data
      })
    },
    saveRegistro() {
      this.sending = true
      const self = this

      const wform = this.form

      const dataVacinacaoArr = wform.DataVacinacao.split("/")

      this.form.PacienteId = parseInt(wform.PacienteId)
      this.form.VacinaId = parseInt(wform.VacinaId)
      this.form.DataVacinacao = new Date(
        dataVacinacaoArr[2],
        dataVacinacaoArr[1] - 1,
        dataVacinacaoArr[0]
      )
      this.form.QtdDose = 0
      this.form.Status = 0

      this.$axios
        .post(this.$urlAPI + "Registros", this.form)
        .then((response) => {
          if (response.status == 201) {
            self.SnackbarMessage = response.data.Mensagem
          } else {
            self.SnackbarMessage =
              "Registro não pôde ser criado. " + response.data.Mensagem
          }

          this.showSnackbar = true
          this.sending = false
          this.showDialog = false
          this.listRegistros()
        })

      this.clearForm()
    },

    validateRegistro() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saveRegistro()
      }
    },

    nameOptions(item) {
      return `${item.Nome} - ${item.CPF} - ${item.RG}`
    },

    findPacienteInfos(pacienteId) {
      this.sending = true
      this.VacinaDisabled = true
      this.SnackbarMessage =
        "Buscando informações de vacinação do paciente... Por favor, aguarde"
      this.SnackbarDuration = 10000
      this.showSnackbar = true

      this.$axios
        .get(this.$urlAPI + "Registros/Pacientes/" + pacienteId)
        .then((response) => {
          if (response.data.Erro) {
            this.SnackbarMessage =
              response.data.Mensagem + ". Por favor, escolha outro Paciente"

              this.sending = false
              this.showDialog = false
              this.clearForm()
          } else if (response.data.Objeto != null) {
            this.form.VacinaId = response.data.Objeto.VacinaId

            this.sending = false
          } else {
            this.VacinaDisabled = false
            this.sending = false
            this.showSnackbar = false
          }
        })
    },
  },
  mounted() {
    this.$axios.get(this.$urlAPI + "Pacientes").then((response) => {
      this.Pacientes = response.data
    })

    this.$axios.get(this.$urlAPI + "Vacinas").then((response) => {
      this.Vacinas = response.data
    })

    this.listRegistros()
  },
}
</script>

<style scoped>
#body {
  justify-content: center;
}

.md-dialog /deep/.md-dialog-container {
  width: 80%;
  height: 110%;
  overflow-y: scroll;
}

.md-table .md-table-cell.md-has-action .md-table-cell-container {
  justify-content: space-around;
}
.md-table .md-table-head {
  text-align: center;
}
.md-table .md-table-cell {
  text-align: center;
}
</style>
