<template>
  <div>
    <div class="md-layout">
      <div class="md-layout-item" size="100">
        <h1>Listagem de Vacinas</h1>
      </div>
    </div>
    <div class="md-layout" id="body">
      <md-dialog :md-active.sync="showDialog" class="md-scrollbar">
        <md-dialog-title>Formulário de Cadastro</md-dialog-title>

        <form novalidate class="md-layout" @submit.prevent="validateVacina">
          <md-card
            class="md-scrollbar md-layout-item md-size-100 md-small-size-100"
          >
            <md-card-content class="md-scrollbar">
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Fabricante')">
                    <label for="Fabricante">Fabricante</label>
                    <md-input
                      name="Fabricante"
                      id="Fabricante"
                      autocomplete="given-fabricante"
                      v-model="form.Fabricante"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Fabricante.required">
                      Por favor, preencha o Fabricante
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('Lote')">
                    <label for="Lote">Lote</label>
                    <md-input
                      type="tel"
                      name="Lote"
                      id="Lote"
                      v-model="form.Lote"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.Lote.required">
                      Por favor, preencha o Lote
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('DataValidade')">
                    <label for="DataValidade">Data de Validade</label>
                    <md-input
                      type="tel"
                      id="DataValidade"
                      name="DataValidade"
                      v-mask="'##/##/####'"
                      v-model="form.DataValidade"
                      :disabled="sending"
                    />
                    <span class="md-error"
                      >Por favor, preencha a Data de Validade</span
                    >
                  </md-field>
                </div>
              </div>

              <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('NumDoses')">
                    <label for="NumDoses">Número de Doses</label>
                    <md-input
                      type="number"
                      id="NumDoses"
                      name="NumDoses"
                      v-model="form.NumDoses"
                      :disabled="sending"
                    />
                    <span class="md-error" v-if="!$v.form.NumDoses.required">
                      Por favor, preencha o Número de Doses
                    </span>
                  </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('IntervaloMinDoses')">
                    <label for="IntervaloMinDoses"
                      >Intervalo mínimo entre Doses</label
                    >
                    <md-input
                      type="number"
                      name="IntervaloMinDoses"
                      id="IntervaloMinDoses"
                      v-model="form.IntervaloMinDoses"
                      :disabled="sending"
                    />

                    <span
                      class="md-error"
                      v-if="!$v.form.IntervaloMinDoses.required"
                    >
                      Por favor, informe o Intervalo mínimo entre Doses
                    </span>

                    <md-tooltip md-direction="bottom"
                      >Informe o número <strong>de dias</strong> de intervalo
                      mínimo entre as doses</md-tooltip
                    >
                  </md-field>
                </div>
              </div>
            </md-card-content>

            <md-progress-bar md-mode="indeterminate" v-if="sending" />

            <md-card-actions>
              <md-button class="md-raised md-accent" type="submit">
                Cadastrar
              </md-button>
              <md-button class="md-raised md-primary" v-on:click="cancelButton">
                Cancelar
              </md-button>
            </md-card-actions>
          </md-card>
        </form>
      </md-dialog>

      <md-table
        v-model="Vacinas"
        md-sort="nome"
        md-sort-order="asc"
        md-card
        md-fixed-header
      >
        <md-table-toolbar>
          <md-field md-clearable class="md-toolbar-section-end">
            <md-input
              placeholder="Procura por Laboratório Fabricante..."
              v-model="search"
              @input="searchOnTable"
            />
          </md-field>
        </md-table-toolbar>

        <md-table-empty-state
          md-label="Nenhuma Vacina encontrada"
          :md-description="`Nenhuma vacina encontrada com o termo '${search}'. Por favor, procure com um termo diferente ou cadastre uma Vacina nova.`"
        >
          <md-button class="md-primary md-raised" @click="showForm">
            Cadastrar Vacina
          </md-button>
        </md-table-empty-state>

        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Id" md-sort-by="Id" md-numeric>{{
            item.Id
          }}</md-table-cell>
          <md-table-cell md-label="Fabricante" md-sort-by="Fabricante">{{
            item.Fabricante
          }}</md-table-cell>
          <md-table-cell md-label="Número do Lote" md-sort-by="Lote">{{
            item.Lote
          }}</md-table-cell>
          <md-table-cell
            md-label="Data de Validade"
            md-sort-by="DataValidade"
            >{{ item.DataValidade | showDate }}</md-table-cell
          >
          <md-table-cell md-label="Número de Doses" md-sort-by="NumDoses">{{
            item.NumDoses
          }}</md-table-cell>
          <md-table-cell
            md-label="Intervalo mínimo entre doses"
            md-sort-by="IntervaloMinDoses"
            >{{ item.IntervaloMinDoses }}</md-table-cell
          >
        </md-table-row>
      </md-table>

      <md-button class="md-fab md-mini md-plain" v-on:click="showForm">
        <md-icon>add</md-icon>
      </md-button>

      <md-snackbar
        :md-position="'left'"
        :md-duration="4000"
        :md-active.sync="showSnackbar"
        md-persistent
      >
        <span>{{ SnackbarMessage }}</span>
      </md-snackbar>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate"
import { required } from "vuelidate/lib/validators"

const toLower = (text) => {
  return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
  if (term) {
    return items.filter((item) =>
      toLower(item.Fabricante).includes(toLower(term))
    )
  }

  return items
}

export default {
  name: "Vacinas",
  mixins: [validationMixin],

  data: () => ({
    search: null,
    Vacinas: [],
    showDialog: false,
    sending: false,
    showSnackbar: false,
    SnackbarMessage: null,
    form: {
      Fabricante: null,
      Lote: null,
      DataValidade: null,
      NumDoses: null,
      IntervaloMinDoses: null,
    },
  }),
  validations: {
    form: {
      Fabricante: {
        required,
      },
      Lote: {
        required,
      },
      DataValidade: {
        required,
      },
      NumDoses: {
        required,
      },
      IntervaloMinDoses: {
        required,
      },
    },
  },
  methods: {
    showForm() {
      this.showDialog = true
    },
    cancelButton() {
      this.showDialog = false
      this.clearForm()
    },
    searchOnTable() {
      this.Vacinas = searchByName(this.Vacinas, this.search)
    },
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty,
        }
      }
    },
    clearForm() {
      this.$v.$reset()
      this.form.Fabricante = null
      this.form.Lote = null
      this.form.DataValidade = null
      this.form.NumDoses = null
      this.form.IntervaloMinDoses = null
    },
    listVacina() {
      this.$axios.get(this.$urlAPI + "Vacinas").then((response) => {
        this.Vacinas = response.data
      })
    },
    saveVacina() {
      this.sending = true
      const self = this

      const wform = this.form

      const dataValidadeArr = wform.DataValidade.split("/")

      this.form.NumDoses = parseInt(wform.NumDoses)
      this.form.IntervaloMinDoses = parseInt(wform.NumDoses)
      this.form.DataValidade = new Date(
        dataValidadeArr[2],
        dataValidadeArr[1] - 1,
        dataValidadeArr[0]
      )

      this.$axios.post(this.$urlAPI + "Vacinas", this.form).then((response) => {
        if (response.status == 201) {
          self.SnackbarMessage = "Vacina criada com Sucesso"
        } else {
          self.SnackbarMessage = "Vacina já cadastrada anteriormente"
        }

        this.showSnackbar = true
        this.sending = false
        this.showDialog = false
      })

      this.clearForm()
      this.listVacina()
    },

    validateVacina() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saveVacina()
      }
    },
  },
  mounted() {
    this.listVacina()
  },
}
</script>

<style scoped>
#body {
  justify-content: center;
}

.md-dialog /deep/.md-dialog-container {
  width: 80%;
  height: 110%;
  overflow-y: scroll;
}

.md-table .md-table-cell.md-has-action .md-table-cell-container {
  justify-content: space-around;
}
.md-table .md-table-head {
  text-align: center;
}
.md-table .md-table-cell {
  text-align: center;
}
</style>
