<template>
  <div id="app">
    <div id="nav">
      <vsm-menu
        :menu="menu"
        :base-width="380"
        :base-height="400"
        :screen-offset="10"
        element="header"
        handler="hover"
      >
        <template #default="{ item }">
          <div class="wrap-content">
            <div class="wrap-content__block">Header: {{ item.title }}</div>
            <div class="wrap-content__item">
              {{ item }}
            </div>
          </div>
        </template>
        <template #before-nav>
          <li class="vsm-section logo-section">
            <img src="./assets/logo-proradis.png" alt="My Logo" width="200" />
          </li>
        </template>
        <template #title="data">
          <router-link :to="data.item.url">{{ data.item.title }}</router-link>
        </template>
      </vsm-menu>
    </div>

    <div id="content" class="content">
      <md-card md-with-hover>
        <md-card-content>
          <router-view />
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  data() {
    return {
      menu: [
        {
          title: "Pacientes | ",
          url: "/Pacientes",
          attributes: {
            // class: ["my-class1", { "my-class2": true }],
            // "data-big": "yes",
          },
        },
        {
          title: "Vacinas | ",
          url: "/Vacinas",
          attributes: {
            // href: "https://github.com/Alexeykhr/vue-stripe-menu",
            // target: "_blank",
          },
        },
        {
          title: "Registros | ",
          url: "/Registros",
        },
        // ...
      ],
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.vsm-menu {
  margin: 10px;
  ul {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.vsm-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-section {
  flex: 1 1 auto;
  img {
    user-select: none;
    max-width: 40px;
  }
}

.vsm-section_menu {
  flex: 12 1 auto;
  background-color: #ddd;
  > * {
    padding: 0 25px;
    font-weight: 500;
    font-family: inherit;
  }
}

.wrap-content {
  padding: 30px;
  width: 400px;
}
.wrap-content__block {
  font-weight: bold;
}
.wrap-content__item {
  font-style: italic;
  font-size: 0.8rem;
}
.md-card {
  width: 90%;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}
body {
  min-height: 0% imp !important;
}
</style>
